*{
    margin: 0;
    padding: 0;
}
#list1{
    border: 2px solid black;
    margin-top: 10px;
}

#submit{
    color: white;
   background-color: green;
}

#list2{
    border: 2px solid black;
    margin-top: 10px;
}
hr{
    margin-top: 5px;
}

#list3{
    border: 2px solid black;
    margin-top: 10px;
}